body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-vector/gradient-black-background-with-realistic-elements_23-2149147608.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1711756800&semt=ais'); /* Replace 'background_image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    margin-bottom: 20px;
}

.links {
    text-align: center;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffcc80;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #ffad42;
}

.highlight-section {
    background-color: #ffcc80;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

.highlight-section a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ff7e5f;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.highlight-section a:hover {
    background-color: #ff5a36;
}
