body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9bf0d1;
    background-image: url('https://i.postimg.cc/kXz0Km0S/background.jpg');
    background-size: 50%; 
    background-position: center; 
}

header {
    background-color: #f4a3d9;
    color: #f63e44;
    text-align: center;
    padding: 20px 0;
}

.watermark {
    font-size: 12px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(230, 241, 184, 0.912);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    text-align: center;
    font-size: 18px;
}
